

.center-img {
    display: block;
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.crear_sesion {
    color-scheme: white;
    

}

.crear_sesion h1 {
    margin-top: 0;
}

.crear_sesion label {
    display: block;
    margin-bottom: 5px;
}

.crear_sesion input {
    width: calc(100% - 6px); /* Resta el padding del ancho total */
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.crear_sesion button {
    width: calc(100% - 6px);
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.crear_sesion button:hover {
    background-color: #0056b3;
}